<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url"> jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="hibernate.connection.username">uniandes</property>
		<property name="hibernate.connection.password">manage</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="show_sql">false</property>
		<property name="dialect">org.hibernate.dialect.OracleDialect</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<mapping class="co.com.uniandes.sube.utilities.entities.Role" />
		<mapping class="co.com.uniandes.sube.utilities.entities.AcademicOffer" />
		<mapping class="co.com.uniandes.sube.utilities.entities.Attribute" />
		<mapping class="co.com.uniandes.sube.utilities.entities.Candidate" />
		<mapping class="co.com.uniandes.sube.utilities.entities.Catalog" />
		<mapping class="co.com.uniandes.sube.utilities.entities.Comments" />
		<mapping class="co.com.uniandes.sube.utilities.entities.Concept" />
		<mapping class="co.com.uniandes.sube.utilities.entities.OfferStep" />
		<mapping class="co.com.uniandes.sube.utilities.entities.OfferStepConfiguration" />
		<mapping class="co.com.uniandes.sube.utilities.entities.OfferTransition" />
		<mapping class="co.com.uniandes.sube.utilities.entities.Offeror" />
		<mapping class="co.com.uniandes.sube.utilities.entities.Postulation" />
		<mapping class="co.com.uniandes.sube.utilities.entities.PostulationInfo" />
		<mapping class="co.com.uniandes.sube.utilities.entities.RoleAccess" />
		<mapping class="co.com.uniandes.sube.utilities.entities.UserAuthentication" />
		<mapping class="co.com.uniandes.sube.utilities.entities.UserSessionToken" />
		<mapping class="co.com.uniandes.sube.utilities.entities.Users" />
	</session-factory>
</hibernate-configuration> 
